@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/pattern-background-desktop-light.svg"),
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-blend-mode: overlay;
  height: 100vh;
}

@layer components {
  body {
    @apply flex justify-center items-center;
  }

  .container {
    @apply mx-[150px] w-[80vw];
  }

  .option {
    @apply w-full h-[96px] bg-pure-white shadow-lg flex items-center gap-[22px] rounded-2xl cursor-pointer p-7;
  }

  .option-active {
    @apply border-4 border-purple;
  }

  .option-active-correct {
    @apply border-4 border-green;
  }

  .option-active-wrong {
    @apply border-4 border-red;
  }

  .option-disable {
    @apply cursor-not-allowed !important;
  }
}
